body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
}

h1 {
    color: #00796b;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #b0bec5;
    border-radius: 4px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #00796b;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #004d40;
}

#weatherTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#weatherTable th, #weatherTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#weatherTable th {
    background-color: #00796b;
    color: white;
}

.error-message {
    color: red;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 0.8em;
    color: #777;
    font-style: italic;
    text-align: right;
}
/* table tfoot td {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 0.8em;
    color: #777;
    font-style: italic;
    text-align: right;
} */
